* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;

}
body{
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    background-color: hsl(185, 41%, 84%);
}
.container {
    padding: 1rem;
    font-weight: 700;
    min-width: 90vw;
    display: grid;
    place-content: center;
}

.card {
    height: 100%;
    width: 100%;
    background: white;
    border-radius: 1rem;
    display: grid;
}
@media (min-width:50em) {
    .container{
        place-content: center;
    }
    .card {
        margin-inline: auto;
        max-width: 80%;
        grid-template-columns: repeat(2, minmax(1rem, 1fr));
    }
}


#logo {
    height: 20vh;
    padding-block-end: 2rem;
    text-align: center;
}

.card-input {
    display: grid;
    width: 90%;
    max-height: 90%;
    margin: 1.3rem 0 1.3rem 1.3rem;
    background-color: hsl(0, 0%, 100%);
}

.result-card {
    height: 90%;
    width: 90%;
    margin: 1.3rem;
    padding: 1rem;
    border-radius: 1.2rem;
    background-color: hsl(183, 100%, 15%);
    display: inline;
}

label {
    color: hsl(184, 14%, 56%);
    font-size: 14px;
}

input{
    cursor: pointer;
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: right;
    color: hsl(183, 100%, 15%);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
    border: none;
    height: 2.5rem;
    width: 100% ;
    background-color: hsl(189, 41%, 97%);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    margin-top: 1rem;
}

input:active,
input:focus {
    border: none;
    outline: none;
}

.dolor {
    padding-left: 25px;
    background: url("./images/icon-dollar.svg") no-repeat left, hsl(189, 41%, 97%);
    background-size: 20px;
}

.opt-btn {
    margin-bottom: 1rem;
}
#msg{
    color: coral;
    display: block;
    text-align: right;
}

.btn-row {
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
    width: 100%;
}

#btn {
    cursor: pointer;
    height: 2.3rem;
    width: 4.5rem;
    margin: .2rem;
    border: none;
    border-radius: .3rem;
    font-size: 20px;
    font-weight: 700;
    color: white;
    background-color: hsl(183, 100%, 15%);
}

#btn:active,
#btn:hover {
    background-color: hsl(172, 67%, 45%);
}


@media (min-width:45em){
     #btn{
        width: 5.5rem;
    }
    .custom{
        width: 5.5rem;
    }
}
@media (max-width:750px) {
    #btn{
        width: 8rem;
    }
    .custom{
        width: 8rem;
    }
}

@media (max-width:500px) {
    #btn{
        width: 6rem;
    }
    .custom{
        width: 6rem;
    }
}
@media (max-width:390px) {
    #btn{
        width: 4.5rem;
    }
    .custom{
        width: 4.5rem;
    }
}
.custom  {
    font-size: 15px;
    font-weight: 700;
    height: 2.3rem;
    margin: .3rem;
    border: none;
    border-radius: .3rem;
    color: hsl(184, 14%, 56%);
    text-align: right;

}

.custom:active,
.custom:focus {
    border: 1px solid hsl(183, 100%, 15%);
}

.custom::placeholder {
    text-align: center;
}

.last {
    display: grid;

    grid-template-columns: 50% 50%;

}

.people {
    margin: 1.5rem 0 1rem 0;
}

.person {
    padding-left: 25px;
    background: url("./images/icon-person.svg") no-repeat left, hsl(189, 41%, 97%);
    background-size: 20px;
}

.row1,
.row2 {
    display: flex;
    margin: 3rem 1rem 3rem 1rem;
}

.headings {
    margin: -0.5rem;
    flex: 50%;
}

.result {
    text-align: right;
    flex: 50%;
    color: hsl(172, 67%, 45%);
    font-size: 29px;
    font-weight: 700;
}

h5 {

    margin-top: 1rem;
    color: hsl(0, 0%, 100%);
}

h6 {
    color: hsl(184, 14%, 56%);
}

.reset {
    cursor: pointer;
    display: block;
    color: hsl(183, 100%, 15%);
    background-color: hsl(186, 14%, 43%);
    border: none;
    border-radius: .3rem;
    height: 2.4rem;
    width: 90%;
    margin: auto;
    margin-top: 6rem;
    font-size: 16px;
    font-weight: 700;
}

.reset:hover {
    background-color: hsl(172, 67%, 45%);
}
